.contact-form-input {
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  margin: 20px 0;
}

.contact-form-input::placeholder {
  color: rgb(255, 255, 255);
  font-size: 17px;
}

.recipe-number {
  font-size: 20px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid white;
}

.recipe-option {
  background-color: transparent;
  color: black;
}

select {
  color: white;
}
.text-recipe-number {
  font-size: 20px;

  padding-right: 30px;
}

.button-submit {
  margin: 30px;
  font-size: 18px;
  padding: 20px 80px;
  background-color: transparent;
  cursor: pointer;
  justify-content: center;
  /* margin-left: 20px; */
  border-radius: 15px;
  color: white;
  border: 1px solid white;
}

@media (max-width: 1100px) {
  .contact-form-input {
    font-size: 15px;
  }
  .recipe-number {
    font-size: 15px;
  }
  .text-recipe-number {
    font-size: 15px;
  }
  .button-submit {
    font-size: 15px;
    padding: 10px 40px;
  }
}
